@charset "UTF-8";

body {
    background-color: #a0f7cb;
}

header {
    font-family: 'Times New Roman', Times, serif;
    background-color: #1e7d1e;
    color: white;
    text-align: center;
    padding: 60px;
}

.main-nav ul {
    display: flex;
    list-style: none;
    padding: 0;
}

.main-nav li {
    margin: 0 10px;
    padding: 0;
}

.main-nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.main-nav a:hover {
    text-decoration: underline;
}

.conteudo {
    background-color: white;
    text-align: justify;
    font-family: 'Arial', sans-serif;
    padding: 10px;
    margin: 0px;
}